*{
    margin:0 auto; /*Устанавливает величину отступа от каждого края элемента.
   Отступом является пространство от границы текущего элемента до внутренней
   границы его родительского элемент*/
    padding:0 auto; /* Устанавливает значение полей вокруг содержимого элемента.
   Полем называется расстояние от внутреннего края рамки элемента до воображаемого
   прямоугольника, ограничивающего его содержимое*/
    outline:none; /*Универсальное свойство, одновременно устанавливающее цвет, стиль и толщину внешней
   границы на всех четырех сторонах элемента. В отличие от линии, задаваемой через border, свойство
   outline не влияет на положение блока и его ширину.*/
}
html{
    navbutton_background_color: #3ca0ff;
    background-size: 100%;
    background: #1a4fff fixed;
}
body{
    width:100%;
}
.head{
    border:3px solid #00FA9A;  /* Универсальное свойство border позволяет одновременно установить
   толщину, стиль и цвет границы вокруг элемента
   background:url(head.jpg) no-repeat ;*/
    background-size: 100%;
    background-color: aquamarine;
}
.headText {
    color: #ff5654;
    font-size: 40pt;
    font-family: Comic Sans MS, serif;
    text-shadow: 10px 10px 20px #eea760, 0 0 1em #eecf90; /*Добавляет тень к тексту, а также устанавливает её параметры:*/
}
.menu{
    background:#00CD66;
    margin:10px 0px;
    font-size:18px;
    font-weight:bold; /*Текст жирный*/
    padding:6px 0px 30px 0px;
}
.menu a{
    color:#fff;
    margin:0px 6px;
}
.menu a:hover{
    color:#FF0000;
}
.content{
    position: absolute;
    overflow: auto;
    top: 140px;
    left: 170px;
    bottom: 30px; right: 0;
    width: 80%;
    background:#fff;
    margin:10px 0px;
    padding:15px 15px 15px 15px;
    text-align: justify;
}
.book{
    border:3px solid #fa8c30;
}
.sidebar {
    position: absolute;
    overflow: auto;
    width: 150px;
    top: 140px;
    bottom: 30px;
    border:3px solid #00FA9A;
}

.leftstr, .rightstr {
    float: left; /* Обтекание справа */
    width: 50%; /* Ширина текстового блока */
}
.rightstr {
    text-align: right; /* Выравнивание по правому краю */
}

p {
    text-indent: 25px;
}
.footer{
    position: absolute;
    height: 30px;
    bottom: 0%;
    width: 100%;
    text-align: center;
}

